.hero{
    position: relative;
    width: 100vw;
    height: 400px;
}
.herotext{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}
.main{
    margin: 20px 25px;
}