.hero{
    position: relative;
    width: 100vw;
    height: 400px;
}
.herotext{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}

/* STYLES FOR BELOW HERO SECTION*/
 .main {
    margin: 20px 25px;
    
    color: white;
    padding-top: 1em;
    text-align:center;
    background-color: #3e8e41;
    filter: drop-shadow(30px 10px 4px #464847);
  } 

  .plantNow {
    color: #fff;
    background-color: #3e8e41;
  }

  .logout {
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
  }