.inpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field{
    
    border-radius: 0.4vw;
    position: absolute;
    height: 2.4vw;
    width: 11vw;
    top:10vw;
    left:0%;
    font-size: 1vw;
}
.error1{
    font-size: 1vw;
    color: red;
    margin: 0;
}

.holder{
    box-shadow: 2px 2px 2px 2px grey;
    width: 35vw;
    border-radius: 1.5vw;
    display: grid;
    position: absolute;
    top: 25vw;
    left: 21vw;
    height: 29vw;
    background: linear-gradient(to top, #90B77D,white);

}

.inpForm{
    position: absolute;
    top:2vw;
    left:13vw;
}

.btn{
    position: absolute;
    height: 3vw;
    width: 10vw;
    border-radius: 2vw;
    background-color: rgb(17, 84, 122);
    color: white;
    top:21vw;
     left:0vw;
}



.field_last{
    
    position: absolute;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.4vw;
    left:0%;
    top:15vw;
    font-size: 1vw;
}

.btn:hover{
    background-color: aqua;
    color: black;
}

.img{
    max-height: 29vw;
    max-width:25vw;
    position: absolute;
    left: 26vw;
    top:2vw;
    position: relative;

}
.username{
    position: absolute;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.4vw;
    left:0%;
    top:1vw;
    font-size: 1vw;

}

.email{
    position: absolute;
    font-size: 1vw;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.4vw;
    left:0%;
    top:5.5vw;
}

.error1{
    position: absolute;
    left:4vw;
    top:3.5vw;
}

.error2{
    position: absolute;
    left:4vw;
    top:8.5vw;
    font-size: 1vw;
    color: red;
    margin: 0;
}

.error3{
    position: absolute;
    left:4vw;
    top:12.5vw;
    font-size: 1vw;
    color: red;
    margin: 0;
}

.error4{
    position: absolute;
    left:4vw;
    top:18.5vw;
    font-size: 1vw;
    color: red;
    margin: 0;
}


.submit{
    font-size: 1.2vw;
    position: absolute;
    top:0.6vw;
    left:2.8vw
}

.field1{
    position: absolute;
    top: 25vw;
    left:30vw;
    font-size: 1.5vw;
    height: 4vw;
    width: 35vw;
    border-radius: 0.4vw;
}

.field2{
    position: absolute;
    top: 34vw;
    left:30vw;
    font-size: 1.5vw;
    height: 4vw;
    width: 35vw;
    border-radius: 0.4vw;

}

.err1{
    position: absolute;
    top: 30vw;
    left:40vw;
    font-size: 2vw;
    color: red;
    margin-bottom: 2vw;

}

.err2{
    position: absolute;
    top: 39vw;
    left:40vw; 
    font-size: 2vw;
    color: red;
    margin: 0;
}

.btn1{
    position: absolute;
    height: 4vw;
    width: 15vw;
    border-radius: 2vw;
    background-color: rgb(17, 84, 122);
    color: white;
    top: 43vw;
    left: 37vw;
}

.btn1:hover{
    background-color: aqua;
    color: black;
}

.text{
    font-size: 1.7vw;
    position: absolute;
    top:0.6vw;
    left:4.4vw
}
